body {
background-color: #FFFFFF;
font-family : baskerville, didot, times ;
}
#content {
margin-right: 525px;
}
#photo {
float: right;
width: 325px;
margin-right: 200px;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 36;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-family: helvetica;
  font-size: 24;
  font-weight: normal;
}

h3 {
  text-align: right;
  font-family: helvetica;
  font-size: 16;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  text-align: left;
  font-family: Georgia;
  font-size: 16;
  font-weight: normal;
  margin-left: 200px;
  margin-right: 200px;
}

ol {
  font-family: Georgia;
  font-size: 16;
  margin-left: 200px;
  margin-right: 200px;
}

ul {
  font-family: Georgia;
  font-size: 16;
  margin-left: 200px;
  margin-right: 200px;
}

li {
  padding-left: 1em;
  padding-top: 0.5em;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.masthead{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
