body {
background-color: #FFFFFF;
font-family : baskerville, didot, times ;
}
#content {
margin-right: 525px;
}
#photo {
width: 50%;
margin-right: 0;
}

h1 {
  text-align: center;
  font-family: helvetica;
  font-size: 36;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1b {
  text-align: left;
  font-family: helvetica;
  font-size: 36;
  font-weight: bold;
}

h1c {
  font-family: helvetica;
  font-size: 36;
  font-weight: bold;
  padding: 0;
}

h2 {
  text-align: center;
  font-family: helvetica;
  font-size: 24;
  font-weight: normal;
}

h2b {
  text-align: left;
  font-family: helvetica;
  font-size: 24;
  font-weight: normal;
}

h3 {
  text-align: right;
  font-family: helvetica;
  font-size: 16;
  font-weight: bold;
}

h3a {
  text-align: right;
  font-family: helvetica;
  font-size: 16;
  font-weight: bold;
  margin-right: 5%
}

p {
  text-align: left;
  font-family: Georgia;
  font-size: 16;
  font-weight: normal;
  margin-left: 15%;
  margin-right: 15%;
}

ol {
  font-family: Georgia;
  font-size: 16;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  padding-left:1.8em;
}

ul {
  font-family: Georgia;
  font-size: 16;
  margin-left: 15%;
  margin-right: 15%;
}

li {
  padding-left: 1em;
  padding-top: 0.5em;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.masthead{
    width: 70%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-left,.bottom-right {
    display:inline-block;
    vertical-align:bottom;
}

.bottom-left {
    position:absolute;
    bottom:0;
    left:0;
}

.bottom-right {
    position:absolute;
    bottom:0;
    right:0;
}

.top-left,.top-right {
    display:inline-block;
    vertical-align:top;
}

.top-left {
    position:absolute;
    top:0;
    left:0;
}

.top-right {
    position:absolute;
    top:0;
    right:0;
}

.float {
    float: left;
}
